<!DOCTYPE html>
<html lang="en">
<title>AboutMe</title>
{% extends 'testapp/base.html' %}
{% block body_block %}
<main>
        <div class="container">
            <h2>About Me</h2>
            <hr>
            <ul class="education-list">
                <li>
                    <strong>Completed Bachelor of Engineering</strong><br>
                    Electronics and Telecommunication
                    <br>
                    Rajgad Dnyanpeeth's Shri Chattrapati Shivajiraje College of Engineering, Dhangawadi, Dist-Pune<br>
                    2022-23 | Savitribai Phule University of Pune (SPPU)
                </li>
                <li>First Year SGPA of 6.77</li>
                <li>Second Year SGPA of 8.80</li>
                <li>Third Year SGPA of 9.36</li>
                <li>Bachelor of Engineering (7th Semester SGPA 6.85) and Final Year (8th Semester SGPA 8.13)</li>
                <li>Overall 8.25 CGPA</li>
            </ul>
        </div>
    </main>
{% endblock %}