<!DOCTYPE html>
<html lang="en">
<title>Activities</title>
{% extends 'testapp/base.html' %}
{% block body_block %}
 <main>
        <div class="container">
            <h2>Extra-Curricular Activities</h2>
            <hr>
            <ul class="activities-list">
                <li><strong>General Secretary (GS)</strong> for academic year 2022-23</li>
                <li><strong>Technical Representative (TR)</strong> for academic year 2021-22</li>
                <li><strong>Class Representative (CR)</strong> throughout Bachelor of Engineering</li>
                <li>Active in <strong>Sports</strong></li>
            </ul>
        </div>
 </main>
{% endblock %}