<!DOCTYPE html>
<html lang="en">
<title>Education</title>
{% extends 'testapp/base.html' %}
{% block body_block %}
 <main>
        <div class="container">
            <h2>Education</h2>
            <hr>
            <div class="education">
                <h3>Rajgad Dnyanpeeth's Shri Chattrapati Shivajirae College of Engineering, Dhangawadi </h3>
                <p>Bachelor of Electronics and Tele-Communication Engineering</p>
                <p>Grade: <strong>8.25 CGPA (First Class with Distinction)</strong></p>
                <p>Year of Passing: <strong>August 2023</strong></p>
            </div>
            <hr>
            <div class="education">
                <h3>Rajgad Dyanpeeth's Technical Campus's Junior College, Dhangawadi, Dist- Pune</h3>
                <p><strong>12th Science</strong></p>
                <p>Marks: <strong>68.69 % (First Class with Distinction)</strong></p>
                <p>Year of Passing: <strong>June 2019</strong></p>
            </div>
            <hr>
            <div class="education">
                <h3>Rajgad Dyanpeeth's Jijamata English Medium School, tal-Bhor, dist- Pune 412206</h3>
                <p><strong>10th</strong></p>
                <p>Marks: <strong>87.66 % (First Class with Distinction)</strong></p>
                <p>Year of Passing: <strong>June 2017</strong></p>
            </div>
        </div>
 </main>
{% endblock %}