<!DOCTYPE html>
<html lang="en">
<title>Experience</title>
{% extends 'testapp/base.html' %}
{% block body_block %}
 <main>
        <div class="container">
            <h2>Work Experience/Internship</h2>
            <hr>
            <ul class="experience-list">
                <li>
                    <strong>Company:</strong> PHN Technology, Pune, Maharashtra<br>
                    <strong>Post:</strong> Web Development Intern<br>
                    <strong>Duration:</strong> 04/2023 to 07/2023
                    <hr>
                    <strong>Company:</strong> VCB Electronics, PUNE, Maharashtra<br>
                    <strong>Post:</strong> Intern<br>
                    <strong>Duration:</strong> 08/2021 to 09/2021
                     <hr>
                    <strong>Company:</strong> Dolphin Labs, Pune, Maharashtra<br>
                    <strong>Post:</strong> Intern<br>
                    <strong>Duration:</strong> 08/2020 to 09/2020
                </li>
                <!-- Add more experience items as needed -->
            </ul>
        </div>
    </main>
{% endblock %}