<!DOCTYPE html>
<html lang="en">
<title>PersonalInfo</title>
{% extends 'testapp/base.html' %}
{% block body_block %}
 <main>
        <div class="container">
            <h2>Personal Information</h2>
            <hr>
            <ul class="personal-info-list">
                <li><strong>LinkedIn Profile:</strong> <a href="https://linkedin.com/in/tejas-dudhane-53400a233" target="_blank" class="btn btn-info">My LinkedIn Profile</a></li>
                <li><strong>Email Id:</strong> tdudhane2001@gmail.com</li>
                <li><strong>Contact Number:</strong> +91 9767854901</li>
                <li><strong>WhatsApp Contact:</strong> +91 9767854901</li>
                <li><strong>Gender:</strong> Male</li>
                <li><strong>Marital Status:</strong> Unmarried</li>
                <li><strong>DOB:</strong> 8th of October 2001</li>
                <li><strong>Current Address:</strong> D-704 Greenland County, Narhe, Manaji Nagar 411041</li>
            </ul>
        </div>
 </main>

{% endblock %}