<!DOCTYPE html>
<html lang="en">
<title>Projects</title>
{% extends 'testapp/base.html' %}
{% block body_block %}
 <main>
        <div class="container">
            <h2>Projects</h2>
            <hr>
             <div class="project">
                <h3>"Portfolio Website using Django, HTML, CSS"</h3>
                <p>
                    My Personal Portfolio Website is a showcase of my skills, projects, and
                    experiences in the field of web development. Developed using Django, HTML,
                    and CSS, this website serves as a digital representation of my
                    professional journey.
                </p>
                <hr>
            </div>

            <div class="project">
                <h3>"Ask Me Display Board using Raspberry Pi and Python"</h3>
                <p>
                    This project transforms directional guidance in public spaces. By
                    integrating Raspberry Pi and P10 LED modules, it delivers an
                    interactive solution for seamless navigation. Offering real-time
                    information in locations like airports and malls, the project
                    enhances user experience, providing a modern and engaging
                    approach to directional display boards for effective
                    communication and guidance.
                </p>
                <hr>
            </div>

            <div class="project">
                <h3>"Facial Emotions Recognition Using Python And Machine Learning"</h3>
                <p>
                    This project utilizes advanced algorithms to analyze facial expressions,
                    offering a robust emotional insight tool.
                </p>
                <hr>
            </div>

        </div>
 </main>
{% endblock %}