<!DOCTYPE html>
<html lang="en">
<title>Qualities</title>
{% extends 'testapp/base.html' %}
{% block body_block %}
<main>
        <div class="container">
            <h2>Qualities</h2>
            <hr>
            <ul class="activities-list">
                <li><strong>Leadership</strong></li>
                <li><strong>Excellent Communication Skills</strong></li>
                <li><strong>Problem Solving Capability</strong></li>
                <li><strong>Continuous Learning</strong></li>
                <li><strong>Attention to Detail</strong></li>
            </ul>
        </div>
</main>
{% endblock %}