<!DOCTYPE html>
<html lang="en">
<title>Summary</title>
{% extends 'testapp/base.html' %}
{% block body_block %}
<main>
        <div class="container">
            <h2>Summary</h2>
            <hr>
            <p>Enthusiastic and detail-oriented recent graduate with a strong foundation in Python
                programming, web development, and data analysis. Eager to leverage my skills in
                Python, Django REST Framework, SQL, and AWS to contribute effectively in a dynamic
                software development environment. Adept at collaborating with cross-functional teams,
                utilizing version control systems like Git, and creating responsive and visually appealing
                web applications. Seeking an entry-level position where I can apply my knowledge in
                full-stack development and contribute to innovative projects.
            </p>
        </div>
    </main>
{% endblock %}